apiVersion: v1
kind: Service
metadata:
  name: rabbitmq
  namespace: agrosolutions
  labels:
    app: rabbitmq
    component: messaging
spec:
  type: ClusterIP
  selector:
    app: rabbitmq
  ports:
  - port: 5672
    targetPort: 5672
    name: amqp
    protocol: TCP
  - port: 15672
    targetPort: 15672
    name: management
    protocol: TCP
---
apiVersion: v1
kind: Service
metadata:
  name: rabbitmq-management
  namespace: agrosolutions
  labels:
    app: rabbitmq
    component: messaging
spec:
  type: NodePort
  selector:
    app: rabbitmq
  ports:
  - port: 15672
    targetPort: 15672
    nodePort: 30672
    name: management
    protocol: TCP
