apiVersion: v1
kind: Service
metadata:
  name: users-api
  namespace: agrosolutions
  labels:
    app: users-api
    component: backend
spec:
  type: ClusterIP
  selector:
    app: users-api
  ports:
  - port: 8080
    targetPort: 8080
    name: http
    protocol: TCP
---
apiVersion: v1
kind: Service
metadata:
  name: users-api-external
  namespace: agrosolutions
  labels:
    app: users-api
    component: backend
spec:
  type: NodePort
  selector:
    app: users-api
  ports:
  - port: 8080
    targetPort: 8080
    nodePort: 30001
    name: http
    protocol: TCP
